body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #193c60;
}

.container {
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 320px;
}

input, button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #b0bec5;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
    border-color: #4fc3f7;
    outline: none;
    box-shadow: 0 0 5px rgba(79, 195, 247, 0.5);
}

button {
    background-color: #f071bf;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #29b6f6;
    transform: translateY(-2px);
}

#weatherResult {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    opacity: 0;
    transform: translateY(-10px);
    animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}